# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
ENV/
.env/

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints/

# -------------------------
# OS / Editor junk
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Temporary files
# -------------------------
*.tmp
*.bak
*.swp
